# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Vite build output
/frontend/dist

# Environment variables
.env

# IDE config
.vscode

# Python cache
/__pycache__/

# Data files
*.grib

# Generated JSON data files
processed_data.json
climatology_june_week1.json
historical_fulldata_1991-2020.json

# Python virtual environment
/venv/

# Cfgrib cache files
*.idx