attrs==25.3.0
Bottleneck==1.6.0
cdsapi==0.7.6
certifi==2025.8.3
cffi==2.0.0
cfgrib==0.9.15.0
charset-normalizer==3.4.3
click==8.3.0
cloudpickle==3.1.1
dask==2025.9.1
eccodes==2.43.0
eccodeslib==2.43.0
eckitlib==1.31.4
ecmwf-datastores-client==0.4.0
fckitlib==0.14.0
findlibs==0.1.2
fsspec==2025.9.0
idna==3.10
locket==1.0.0
multiurl==0.3.7
numpy==2.3.3
packaging==25.0
pandas==2.3.2
partd==1.4.2
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
six==1.17.0
toolz==1.0.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
xarray==2025.9.0
